{% extends "index.html" %}
{% block content %}
<div class="container">
	
	<h2 style="text-shadow: 3px 2px 0px #84ffff;">Reservation details</h2>
		{% for r in reservation %}
		<div class="row">
	        <div class="col l6">
		        <div class=" card naranjita z-depth-5">
		            <div class="card-image">
		              	<img src="{{r.property.image.url}}" class="responsive-img">
		              	<span class="card-title"><b style="text-shadow: 3px 2px 0px black;">{{ r.property.title }}</b></span>
		            </div>
		            <div class="card-content">
		            	<h5>{{ r.property.city.name }}</h5>
		            	<label style="color:white;"><b>Total: AR${{ r.total }}</b></label><br>
						<label style="color:white;"><b>{{ r.code }}</b></label><br>
		            </div>
		        </div>
	        </div>
	    </div>
	    {% endfor %}
</div>
	    
<style type="text/css">
	
	.naranjita {
		background-color: #ff9966 !important;
	
</style>

{% endblock %}



	