<!DOCTYPE html>
<html>
	<head>
		<!--<link rel="stylesheet" href="css/materialize.css">
		<link rel="stylesheet" href="css/materialize.min.css">-->
		<meta charset="utf-8">
		<title>Sooper habitaciones</title>
	</head>
	<body>
	  <nav>
	    <div class="nav-wrapper negrita">
	        <ul class="left hide-on-med-and-down">
	          <li><a href="search_rooms">Rooms for rent</a></li>
	        </ul>
	    </div>
	  </nav>
	  <div class="">
	  	{% block content %}{% endblock %}
	  </div>
	</body>
</html>