{% extends "index.html" %}
{% block content %}
<div class="container">
	
	<h2 style="text-shadow: 3px 2px 0px #84ffff;"><b>Room search results</b></h2>
		<div class="row">
		{% for r in rooms %}
	        <div class="col l6">
	          <div class=" card naranjita z-depth-5">
	            <div class="card-image">

	              <img src="{{r.property.image.url}}" class="responsive-img">

	              <span class="card-title"><b style="text-shadow: 3px 2px 0px black;">{{ r.property.title }}</b></span>
	            </div>
	            <div class="card-content">

				  <h5 style="color: black"><i>{{ r.property.city.name }} City</i></h5>
				  <a href="{% url 'single' room_id=r.id %}"><button class="btn waves-effect waves-light right" type="submit"><b>More details</b></button></a>
	            </div>
	            </div>
	          </div>
	        
	    {% endfor %}
     	</div>
</div>

<style type="text/css">
	li:hover {
		background-color: #84ffff  !important;
	}
	.collection {
		border: 0px solid #e0e0e0;
	}
	.collection .collection-item {
		border-bottom: 0px solid #e0e0e0;
	}
	::placeholder {
   color:    black;
	}
	.naranjita {
		background-color: #ff9966 !important;
	}
	.btn{
		background-color: #84ffff !important; 
		color: black !important;
	}
	.btn:hover {
		color: #18ffff !important; 
		background-color: black !important;
	}
	a {
		color: black !important;
	}
	a:hover{
		color: #18ffff !important; 
	}
</style>

{% endblock %}



	