{% extends "index.html" %}
{% block content %}
<div class="container">
	
	<h2>Rooms search results</h2>
		{% for r in rooms %}
		<div class="row">
	        <div class="col l6">
	          <div class="card card light-green darken-2 z-depth-5">
	            <div class="card-image">

	              <img src="{{r.property.image.url}}" class="responsive-img">
	              <span class="card-title"><b style="text-shadow: 3px 2px 0px black;">{{ r.property.title }}</b></span>
	            </div>
	            <div class="card-content">
	              <p style="color:white;">{{ r.property.description }}  {{r.image}}</p>
				  <label style="color:white;"><b>AR${{ r.property.priceDays }} (per day and person)</b></label><br>
				  <label style="color:white;"><b>AR${{ r.property.comision}} (comision)</b></label><br>
				  <label style="color:white;"><b>{{ r.property.maxGuest }} available beds</b></label><br>
				  <label style="color:white;"><b>{{ r.property.city.name }} City</b></label>
	            </div>

	          </div>
	        </div>
      	</div>
	    {% endfor %}
     
</div>
{% endblock %}



	