{% extends "index.html" %}
{% block content %}
<div class="container">
	
	<h2>{{ room.title }}</h2>
		
		<div class="row">
	        <!--<div class="col l6">-->
	          <div class="card card light-green darken-2 z-depth-5">
	            <div class="card-image">

	              <img src="{{room.property.image.url}}" class="responsive-img">
	              <span class="card-title"><b style="text-shadow: 3px 2px 0px black;">{{ r.property.title }}</b></span>
	            </div>
	            <div class="card-content">
	              <p style="color:white;">{{ room.property.description }}  {{r.property.image}}</p>
				  <label style="color:white;"><b>AR${{ room.property.priceDays }} (per day and person)</b></label><br>
				  <label style="color:white;"><b>8% of (comision)</b></label><br>
				  <label style="color:white;"><b>{{ room.maxGuest }} available beds</b></label><br>
				  <label style="color:white;"><b>{{ room.property.city.name }} City</b></label>
	            </div>
	            <form method="POST"  class="card-content">

					<input type="text" name="propertyId" value="{{room.property.id}}"><br>
					<input type="text" name="name" placeholder="Name"><br>
					<input type="text" name="surname" placeholder="Surname"><br>
					<input type="email" name="email" placeholder="email"><br>
					<input type="date" name="fromD" placeholder="date"><br>
					<input type="date" name="toD" placeholder="date"><br>
					<br>

					<button type="submit" class="btn waves-effect waves-light right">Rent</button><br>
				</form>
	          </div>
	        <!--</div>-->
      	</div>
     
</div>
{% endblock %}


